{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block title %}Passwort zurücksetzen{% endblock %}
{% block header %}Passwort zurücksetzen{% endblock %}
{% block body %}
	{% if validlink %}
		{% bootstrap_form_errors form %}
		<form method="post" class="form">
			{% csrf_token %}
			{% bootstrap_form form %}
				<button type="submit" class="btn btn-primary">Speichern</button>
		</form>
	{% else %}
		<p>
			Der Link zum Passwort zurücksetzen ist ungültig.
		</p>
	{% endif %}
{% endblock %}